<input type="text" class="search" [(ngModel)]="searchText" (input)="onSearch()" placeholder="Search..." />

<h2>Dobrodosao, {{username}}</h2>
<button (click)="logout()">Logout</button>
<table class="home-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Body</th>
      <th>
        <div class="tag-select-container">
          <ng-select 
            [items]="tags" 
            [(ngModel)]="selectedTag" 
            placeholder="Choose tag: ">
          </ng-select>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts" 
        [class.highlight]="hasSelectedTag(post)" 
        (click)="onPostClick(post)">
      <td>{{ post.id }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.body }}</td>
      <td>{{ post.tags?.join(', ') }}</td>
    </tr>
  </tbody>
</table>

<div class="pagination-container">
  <button (click)="onPageChange(trenutnaStr - 1)" [disabled]="trenutnaStr === 1">Previous</button>
  <span>{{ trenutnaStr }}</span>
  <button (click)="onPageChange(trenutnaStr + 1)">Next</button>
</div>
